body {
	margin: 0;
	font-family:
		Century Gothic,
		sans-serif;

	height: 100vh;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	position: relative;
}

.app {
	display: flex;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
